body {
    background-color: rgb(41, 40, 39);
    color: rgb(241, 227, 101);
    font-family: 'Josefin Sans', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    margin: 5px 500px 20px 500px;
}

.content img {
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.content h1 {
    text-align: center;
}

.content .j {
    color: rgb(243, 202, 21);
    font-weight: bold;
}

